<ui-toolbar class="fixed flat elevate-on-scroll primary elevate-on-s960" id="app-header">
  <button (click)="menuOpen = true" class="ui-button flat icon" uiRipple>
    <i class="material-icons">menu</i>
  </button>
  <span class="title">{{title}}</span>
</ui-toolbar>

<ui-nav-drawer class="persistent" [(open)]="menuOpen">
  <ui-toolbar class="flat">
    <button (click)="menuOpen = false" class="ui-button flat icon" uiRipple>
      <i class="material-icons">arrow_back</i>
    </button>
    <span class="title">{{title}}</span>
  </ui-toolbar>
  <div class="ui-nav-drawer-overflow">
    <div class="ui-list">
      <a class="ui-list-item" uiRipple routerLink="/" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </div>
  </div>
</ui-nav-drawer>

<div class="ui-s480 break-on-s480">
  <ui-card>
    <ui-card-content>
      <div class="esqueleto">
        <div class="corpo-esqueleto">
          <img alt="" id="icon-upload" src="/assets/upload1.svg">
        </div>
        <div class="corpo-esqueleto">
          <div class="messages">
            <h3>Arraste e solte o arquivo aqui.</h3>
            <h3>Ou</h3>
          </div>
        </div>
        <div class="corpo-esqueleto">
          <button (click)="submitFile.click()" class="ui-button success">Enviar arquivo</button>
        </div>
      </div>
    </ui-card-content>
    <input #submitFile hidden type="file" (change)="insertFile($event);Upload()" placeholder="Upload file"
           accept=".xlsx">
  </ui-card>

</div>






